{% extends 'dresses/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <img src="https://images.all-free-download.com/images/graphiclarge/happy_shopping_girls_vector_set_580562.jpg" height="200" width="600">

                <h3 class="page-header" align="center">Thank You For Shopping With Us
                </h3>
                <p align="center">Your order has been successfully placed.</p>
            </div>
        </div>
    </div>
{% endblock %}