{% extends 'dresses/base.html' %}
{% block body %}

	<div class="container-fluid">
		<div class="col-md-12">

			</div>
			<div class="row">
                <div class="card">
				<div class="col-md-3">
                    <div class="thumbnail">
					<img alt="Bootstrap Image Preview" src="https://images.kalaniketan.com/catalog/product/cache/1/small_image/300x450/17f82f742ffe127f42dca9de82fb58b1/K/N/KN_BF_BM_467.jpg" height="300" width="350">
					<address>
                        BIBA semi-stiched lehenga and choli<br>
                        <strike>INR 19,341</strike>     <b>INR 15,740</b>    <font color="red"> 35% OFF</font>
                    </address>
                    <a href="{% url "dresses:detail2" 11 %}">
                    <button type="submit" class="btn btn-primary">BUY NOW</button>
                    </a>
				</div>
                </div>
				<div class="col-md-3">
                    <div class="thumbnail">
					<img alt="Bootstrap Image Preview" src="https://images.kalaniketan.com/catalog/product/cache/1/small_image/300x450/17f82f742ffe127f42dca9de82fb58b1/S/3/S3E_4773.jpg" height="300" width="350">
					<address>
                        RTrends semi-stiched lehenga and choli<br>
                        <strike>INR 17,341</strike>     <b>INR 14,740</b>    <font color="red"> 25% OFF</font>
                    </address>
                        <a href="{% url "dresses:detail2" 8 %}">
                    <button type="submit" class="btn btn-primary">BUY NOW</button>

                        </a>
				</div>
                </div>
				<div class="col-md-3">
                    <div class="thumbnail">
					<img alt="Bootstrap Image Preview" src="https://images.kalaniketan.com/catalog/product/cache/1/small_image/300x450/17f82f742ffe127f42dca9de82fb58b1/K/N/KN_BF_BM_540.jpg" height="300" width="350">
					<address>
                        KalaNiketan stitched lehenga and choli<br>
                        <strike>INR 18,341</strike>     <b>INR 17,740</b>    <font color="red"> 15% OFF</font>
                    </address>
                        <a href="{% url "dresses:detail2" 9 %}">
                    <button type="submit" class="btn btn-primary">BUY NOW</button>

                        </a>
				</div>
                </div>

                    <div class="col-md-3">
                    <div class="thumbnail">
					<img alt="Bootstrap Image Preview" src="https://images.kalaniketan.com/catalog/product/cache/1/small_image/300x450/17f82f742ffe127f42dca9de82fb58b1/K/N/KN_BF_BM_796.jpg" width="350" height="300">
					<address>
                        Just In Collection stitched lehenga and choli<br>
                        <strike>INR 29,341</strike>     <b>INR 25,740</b>    <font color="red"> 25% OFF</font>
                    </address>
                        <a href="{% url "dresses:detail2" 10 %}">
                    <button type="submit" class="btn btn-primary">BUY NOW</button>

                        </a>
				</div>
                </div>

                </div>
			</div>
		</div>
	</div>






    <br><br>

	<div class="container-fluid">
		<div class="col-md-12">

			</div>
			<div class="row">
                <div class="card">
				<div class="col-md-3">
                    <div class="thumbnail">
					<img alt="Bootstrap Image Preview" src="https://images.kalaniketan.com/catalog/product/cache/1/small_image/300x450/17f82f742ffe127f42dca9de82fb58b1/K/N/KN_BF_BM_1103.jpg" height="300" width="350">
					<address>
                        Flyrobe stitched lehenga and choli<br>
					    <strike>INR 39,341</strike>     <b>INR 35,740</b>    <font color="red"> 35% OFF</font>
                    </address>
                        <a href="{% url "dresses:detail2" 1 %}">
                    <button type="submit" class="btn btn-primary">BUY NOW</button>

                        </a>
				</div>
                </div>
				<div class="col-md-3">
                    <div class="thumbnail">
					<img alt="Bootstrap Image Preview" src="http://www.aishwaryadesignstudio.com/content/images/thumbs/0053023_outstanding-deep-blue-designer-lehenga_324.jpeg" width="350" height="300">
					<address>
                        Fashion stitched lehenga and choli<br>
					    <strike>INR 19,341</strike>     <b>INR 15,740</b>    <font color="red"> 15% OFF</font>
                    </address>
                        <a href="{% url "dresses:detail2" 2 %}">
                    <button type="submit" class="btn btn-primary">BUY NOW</button>

                        </a>
				</div>
                </div>
				<div class="col-md-3">
                    <div class="thumbnail">
					<img alt="Bootstrap Image Preview" src="https://images.kalaniketan.com/catalog/product/cache/1/small_image/300x450/17f82f742ffe127f42dca9de82fb58b1/K/N/KN_BF_BM_1002.jpg" height="300" width="350">
					<address>
                        Just In Collection semi-stiched lehenga and choli<br>
					    <strike>INR 15,341</strike>     <b>INR 12,740</b>    <font color="red"> 25% OFF</font>
                    </address>
                        <a href="{% url "dresses:detail2" 3 %}">
                    {{ cart_product_form }}
                    <button type="submit" class="btn btn-primary">BUY NOW</button>

                    </a>
				</div>
                </div>

                    <div class="col-md-3">
                    <div class="thumbnail">
					<img alt="Bootstrap Image Preview" src="https://i.ebayimg.com/images/g/3nAAAOSwoddaimIx/s-l300.jpg" width="350" height="300">
					<address>
                        BIBA semi-stiched lehenga and choli<br>
					    <strike>INR 16,341</strike>     <b>INR 15,740</b>    <font color="red"> 15% OFF</font>
                    </address>
                       <a href="{% url "dresses:detail2" 4 %}">
                    <button type="submit" class="btn btn-primary">BUY NOW</button>

                       </a>
				</div>
                </div>

                </div>
			</div>
		</div>
	</div>


</div>

    {% include 'dresses/footer.html' %}

{% endblock %}