<div class="thumbnail" style="background-color: black">
    <font color="#808080">
        <div class="row">
				<div class="col-md-3">
					<blockquote class="blockquote">

						<h2 class="mb-0">
							India's No. 1 Fashion Store
						</h2>
						<footer class="blockquote-footer">
							<cite>Every customer</cite>
						</footer>

					</blockquote>
				</div>
				<div class="col-md-3">
					<ul>
                        <li class="list-item">
                            Best Worldwide Indian Ethnic Wear Online from TrendSetter
                        </li>
                        <li class="list-item">
							Indian Ethnic Wear in United States
						</li>
						<li class="list-item">
							Indian Sarees Online Shopping in USA
						</li>
						<li class="list-item">
							Salwar Kameez Online USA
						</li>
						<li class="list-item">
							Lehenga Choli Online USA
						</li>
						<li class="list-item">
							Indian Clothing in Canada
						</li>
						<li class="list-item">
							Indian Sarees Online Shopping Canada
						</li>
						<li class="list-item">
							Salwar Kameez Online Canada
						</li>
						<li class="list-item">
							Lehenga Choli Online Canada
						</li>

					</ul>
				</div>
				<div class="col-md-3">

					<address>
						 <strong>TrendSetter</strong><br> Kala Darshan Exports Pvt. Ltd.
5th Floor, Kala Niketan Building,
95 Queen's Road, Maharshi Karve Road,
Marine Lines, Mumbai - 400020
Maharashtra - INDIA<br> <abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
				</div>
				<div class="col-md-3">
					<blockquote class="blockquote">
						<p class="mb-0">
							Still waiting? Shop salwar kameez online today with free shipping in salwar sale at low prices and outshine yourself.
						</p>

					</blockquote>
				</div>
			</div>
		</div>
</font>
        </div>